<form>
  <label *ngFor="let input of formInputs"
    >{{ input | formatLabel
    }}<input
      [(ngModel)]="model[input.join('_')]"
      name="{{ input.join('_') }}"
      (change)="modelChange()"
  /></label>
</form>
