<div class="homework">
  <textarea rows="10" [(ngModel)]="content"></textarea>
  <button type="submit" (click)="parseTemplate()">Parse Template</button>

  <button type="submit" (click)="displayResult()">Display result</button>

  <a [routerLink]="['./task2']" [state]="{ content: endResults }"> Task2</a>
</div>

<app-form-gen [formInputs]="formInputs" (genForm)="onUpdate($event)"></app-form-gen>

<div *ngIf="endResults.length">
  <div *ngFor="let res of endResults">{{ res }}</div>
</div>
